<h1> PAGE SEARCH</h1>
<form style="margin-left:100px;" method="post" action="">
  <div class="form-group">
    <label for="search-input">tìm kiếm</label>
    <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp" placeholder="tìm kiếm....">
  </div>
  <button type="tìm kiếm " class="btn btn-primary">Submit</button>
</form>